*{
    box-sizing : border-box;
}
body {
    font-family: sans-serif;
    background: #F5F5F5;
}
.header {
    padding-top: 4px;
    padding-bottom: 4px;
    background: #0050B3;
}
.header-block {
    max-width: 1200px;
    margin : auto;
    display : flex;
    align-items : center;
    justify-content: space-between;
}
.search-input {
    font-size: 14px;
    line-height: 22px;
    padding: 5px 30px 5px 12px;
    background: #FFFFFF;
    width:336px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    background-image: url(../img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: right 12px center;
}
.navigation {
    display : flex;
    align-items: center;
}
.navigation-panel {
    margin-left: 12px;
    display: flex;
    align-items: center;
}
.navigation-link { 
    display: flex;
    align-items: center;
    color : #FFFFFF;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
    margin-left: 12px;
}
.navigation-link:before {
    content : "";
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-right: 12px;
}
.navigation-link:last-child:after {
    content : "";
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-left: 12px;
}
.user {
    display: flex;
    align-items: center;
}
.user-avatar {
    margin-right: 8px;
}
.user-name{
    color: #FFFFFF;
    font-size: 14px;
    line-height: 22px;
    font-weight: 600;
}
.icons-panel{
    display: flex;
}
.icon-link{
    display: flex;
    align-items: center;
    margin-left: 17px;
}
.header-icon {
    fill: #002766;
}
.header-icon:hover {
    fill: white;
}
.icon-link:last-child::before {
    content : "";
    width: 1px;
    height: 16px;
    background: #003A8C;
    margin-right: 12px;
}
.container {
    max-width: 1200px;
    margin : auto;
    display: flex;
    justify-content: space-between;
}
.menu-sidebar{
    margin-top: 18px;
    max-width: 192px;
    margin-right: 12px;
}
.menu-sidebar .user {
    padding-left: 10px;
}
.menu-sidebar .user-avatar {
    width: 24px;
    height: 24px;
}
.menu-sidebar .user-name {
    color: #262626;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
}
.nav-group {
    display: flex;
    flex-direction : column;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 24px;
}
.nav-link { 
    align-items: center;
    display: flex;
    padding: 4px 8px;
    border-radius: 4px;
    color: #595959;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
}
.nav-link.active { 
    background: #FFFFFF;
    color: #262626;
}
.nav-text { 
    margin-left: 8px;
}
.nav-title {
    padding-left: 10px;
    font-size: 12px;
    line-height: 20px;
    color: #262626;
    font-weight: 600;
    margin-bottom: 4px;
    margin-top: 0px;
}
.seemore{
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 22px;
color: #1890FF;
text-decoration: none;
margin-left: 15px;
}
.sidebar-dropdown {
padding-left: 12px;
align-items: center;
display: flex;
margin-top: 15px;
text-decoration: none;
font-size: 14px;
line-height: 22px;
}
.main-feed{
    max-width: 588px;
    margin-top: 18px;
    flex-grow: 1;
}
.create-post{
    background: #FFFFFF;
/* Elevation 1 */
box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
overflow: hidden;
border-radius: 4px;
width: 100%;
}
.create-post-header{
    background: #F5F5F5;
    padding: 9px 16px;
}
.create-post-title{
    margin: 0;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
}
.create-post-body{
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
}
.create-post-input{
    padding-top: 8px;
    width: 100%;
}

.create-post-footer{
    display: flex;
    align-items: center;
    padding: 0 16px 16px 16px;
    flex-wrap: wrap;
}
.create-post-footer:before{
    content: '';
    width: 100%;
    height: 1px;
    background-color:#e8e8e8;
    margin-bottom: 16px;
}
.tag {
    background: #F5F5F5;
    border-radius: 48px;
    border: none;
    padding: 9px 12px;
    display: flex;
    align-items: center;
    margin-right: 8px;
}
.tag-icon {
    margin-right: 8px;
}
.tag-icon-other{
    background: #F5F5F5;
    border: none;
    display: flex;
    align-items: center;
    margin-right: 5px;
    margin-left: 5px;
}
.post{
    background: #FFFFFF;
/* Elevation 1 */
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 16px 0px;
    padding: 16px;
}

.post-header{
    justify-content: space-between;
    display: flex;
}
.post-header-button{
    background-color: #fff;
    border:none;
}
.post-header .user-avatar{
    width: 48px;
    height: 48px;
    margin-right: 12px;
}
.post-info {
    display: flex;
    flex-wrap: wrap;
}
.post-author{
    width: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none;
    color: #0050B3;
}
.post-time{
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #8C8C8C;
}
.post-info-time{
    display: flex;
    align-items: center;
}
.post-time:after{
    display: inline-block;
    width: 4px;
    height: 4px;
    background: #BFBFBF;
    content: "";
    border-radius: 50%;
    margin: 0 6px;
    vertical-align: middle;
}
.post-text{
    color: #595959;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 16px;
}
.post-text a {
    color: #096DD9 ;
}
.post-image{
    border: 1px solid #BFBFBF;
    box-sizing: border-box;
    border-radius: 4px;
    min-width: 100%;
}
.likes{
    margin: 9px 0;
    align-items: center;
    display: flex;
}
.likes-counter{
    margin-left: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #595959;
}
.post-footer{ 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.post-button{
    background: #fff;
    border:none;
    display: flex;
    align-items: center;

}
.post-span-button-text{
    font-weight: 550;
    font-size: 14px;
    line-height: 22px;
    color: #595959;
    margin-left: 8px;
}
.post-footer:before{
    content: '';
    width: 100%;
    height: 1px;
    background-color:#e8e8e8;
    margin-bottom: 16px;
}
.stories{
    background-color: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 16px;
    padding: 16px;
    padding-left: 24px;
}
.stories-icon{
  fill: #0050B3;
  margin-right: 4px;
  vertical-align: sub;  
}
.right-sidebar{
    width: 384px;
}
.stories-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}
.stories-title{
    margin: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
}
.stories-buttons{
    align-items: center;
    display: flex;
}
.stories-button-link{
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
    text-decoration: none;

}
.stories-icon{
    vertical-align: sub;
}
.stories-button-link:first-child:after{
    content: "";
    width: 4px;
    height: 4px;
    background: #BFBFBF;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
}

 
.story-item, .story-item-add{
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-bottom: 16px;
}

.story-image{
    background: #F5F5F5;
    width: 48px;
    height: 48px;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    border-radius: 50%;
    flex-shrink: 0;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #1890FF;
    margin-right: 12px;
   
}

.story-title{
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #0050B3;
    width: 100%;
    display: block;
}

.story-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    align-items: center;
    color: #8C8C8C;
    word-wrap: break-word;
}

.story-hours-ago{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    width: 100%;
    align-items: center;
    color: #8C8C8C;
    word-wrap: break-word;
}

.Concuria{
    background-image: url(../img/Concuria.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
}

.figma{
    background-image: url(../img/figma.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
}

.antDesign{
    background-image: url(../img/antDes.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover ;
}

.seemore-right-sidebar{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #0050B3;
    text-decoration: none;
    margin-left: 12px;
    }
.sidebar-dropdown-right{
    align-items: center;
    display: flex;
    margin-top: 15px;
    text-decoration: none;
    font-size: 14px;
    line-height: 22px;
    vertical-align: center;
}

